*{ 
    margin:0; 
    padding:0; 
    box-sizing: border-box; 
    font-family: 'poppins' , sans-serif; 
} 
html{ 
    scroll-padding-top: 80px; 
    scroll-behavior: smooth; 
} 
body{ 
    color:#ededed; 
    background: #001b29; 
} 
.header{ 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    padding: 20px; 
    background: rgb(7,18,45); 
    display:flex; 
    justify-content: space-between; 
    align-items: center; 
    z-index: 100; 
} 
.logo{ 
    padding: 0 10%; 
    position:relative; 
    font-size:25px; 
    color:#fff; 
    text-decoration: none; 
    font-weight: 600; 
    cursor:default; 
} 
.navbar{ 
    position: sticky; 
} 
.navbar a{ 
    top: 0; 
    right: 0; 
    display: inline-block; 
    font-size: 22px; 
    color:#fff; 
    text-decoration: none; 
    font-weight: 500; 
    margin-left: 35px; 
} 
.navbar a:hover{ 
    color:#0ef; 
} 
.home{ 
    position:relative; 
    width: 100%; 
    justify-content: space-between; 
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    align-items: center; 
    padding: 70px 10% 0; 
    margin-bottom: 100px; 
} 
.home-content{ 
    max-width:600px; 
     
} 
.img-cont{ 
    height: auto; 
    width: 250px; 
    display: flex; 
    position: relative; 
    z-index: 1; 
} 
.img-cont img{ 
    width: 300px; 
    height: auto; 
    border-radius: 50%; 
    display: block; 
    object-fit: cover; 
    box-shadow: 0 0 5px cyan, 
    0 0 25px cyan; 
} 
.home-content h3{ 
    font-size: 32px; 
    font-weight: 700; 
} 
.home-content h3:nth-of-type(2){ 
    margin-bottom: 30px; 
} 
.home-content h3 span{ 
    color:#0ef; 
} 
.home-content h1{ 
    font-size: 56px; 
    font-weight: 700; 
    margin: -3px 0; 
} 
.home-content p{ 
    font-size: 20px; 
} 
.home-sci a{ 
    display: inline-flex; 
    
    justify-content: center; 
    align-items: center; 
    width: 40px; 
    height: 40px; 
    background: transparent; 
    border: 2px solid#0ef; 
    border-radius: 50%; 
    font-size: 20px; 
    color:#0ef; 
    text-decoration: none; 
    margin: 30px 15px 30px 0; 
} 
.home-sci a:hover{ 
    background: #0ef; 
    color:black; 
    box-shadow: 0 0 20px #0ef; 
} 
.btn-box{ 
    display: inline-block; 
    padding: 12px 28px; 
    background: #0ef; 
    border-radius: 40px; 
    font-size: 16px; 
    color:black; 
    letter-spacing: 1px; 
    text-decoration: none; 
    font-weight: 600; 
} 
.btn-box:hover{ 
    box-shadow: 0 0 25px cyan; 
} 
.about{ 
    display: flex; 
    align-items: center; 
    text-align: center; 
    gap:2rem; 
    margin: 10px; 
} 
.about-text{ 
    margin:10px 130px; 
    padding: 10px 40px; 
} 
.about-text h2{ 
    font-size:50px; 
} 
.about-text h2 span{ 
    color:#0ef; 
} 
.about-text h3{ 
    font-size:30px; 
    line-height: 1.8; 
    margin: 15px 0 30px; 
} 
.about-text p{ 
    color:aliceblue; 
    font-size: 20px;; 
    line-height: 1; 
    margin-bottom: 2rem; 
} 
.container1{ 
    width: 600px; 
    height: 500px; 
    padding: 75px 90px; 
    margin-left: 350px; 
    margin-bottom: 250px; 
} 
.heading1{ 
    text-align: center; 
    margin-bottom: 22px; 
    font-size: 60px; 
    line-height:1; 
} 
.heading1 span{ 
    color:#0ef; 
} 
.bar{ 
    font-size: 20px; 
} 
.Technical-bars .bar{ 
    margin: 40px 0; 
} 
.Technical-bars .bar:first-child{ 
    margin-top: 0; 
} 
.Technical-bars .bar:last-child{ 
    margin-bottom: 0; 
} 
.Technical-bars .bar .info{ 
    margin-bottom: 5px; 
} 
.Technical-bars .bar .info span{ 
    font-size: 15px; 
    font-weight: 500;    
} 
.Technical-bars .bar .progress-line{ 
    position: relative; 
    border-radius: 10px; 
    width: 100%; 
    height: 5px; 
    background-color:#000; 
} 
.progress-line span { 
    height: 100%; 
    background-color: #0ef; 
    position: relative; 
    border-radius: 10px; 
    display: block; 
} 
.progress-line.html span { 
     width: 90%;  
} 
.progress-line.css span { 
     width: 65%;  
} 
.progress-line.javaScript span { 
     width: 55%;  
} 
.progress-line.python span { 
     width: 70%;  
} 
.progress-line.java span { 
     width: 60%;  
} 
.progress-line span { 
    height: 100%; 
    background-color: #0ef; 
    position: relative; 
    border-radius: 10px; 
    display: block; 
} 
.progress-line span::after{ 
    content: "80%"; 
    position: absolute; 
    padding: 1px 8px; 
    background-color: #000; 
    color: #fff; 
    font-size: 12px; 
    border-radius: 5px; 
    top: -20px; 
    right: -20px; 
} 
.progress-line.html span::after{ 
    content: "80%"; 
} 
.progress-line.css span::after{ 
    content: "65%"; 
} 
.progress-line.javaScript span::after{ 
    content: "55%"; 
} 
.progress-line.python span::after{ 
    content: "70%"; 
} 
.progress-line.java span::after{ 
    content: "60%"; 
} 
 
 
.education { 
    min-height: 80vh; 
    margin-top: 50px; 
} 
.heading{ 
    text-align: center; 
    margin-bottom: 22px; 
    font-size: 60px; 
    line-height:1; 
    padding: 2rem 0; 
} 
.heading span{ 
    color: #0ef; 
} 
.education .quote { 
    font-size: 1.8rem; 
    text-align: center; 
    font-family: "Nunito", sans-serif; 
    font-weight: 600; 
    margin-top: 0.5rem; 
} 
.education .box-container { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
} 
.education .box-container .box { 
    display: flex; 
    flex-direction: row; 
    width: 80%; 
    border-radius: 0.5rem; 
    text-align: center; 
    position: relative; 
    margin-top: 2rem; 
    overflow: hidden; 
    transition: 0.3s; 
    background: #051120; 
} 
.education .box-container .box:hover { 
    transform: scale(1.03); 
    box-shadow: 0 0 15px cyan  
} 
.education .box-container .box .content { 
    position: relative; 
    display: flex; 
    flex-direction: column; 
    padding: 1rem; 
    flex-wrap: wrap; 
} 
.education .box-container .box .content h3 { 
    font-size: 2.5rem; 
    color: #00ffff; 
    padding: 0.5rem 0; 
    font-weight: 600; 
    text-align: left; 
    margin-left: 1rem; 
} 
.education .box-container .box .content p { 
    font-size: 1.5rem; 
    margin-left: 1rem; 
    text-align: left; 
} 
.education h4 { 
    font-size: 2rem; 
    color: #87cefa; 
    text-align: left; 
    margin: 1rem; 
    font-family: "Nunito", sans-serif; 
    font-weight: 700; 
} 
 
.projects{ 
    margin-top: 80px; 
} 
.projects .pro { 
    display: flex; 
    flex-wrap: wrap; 
    max-width: 1200px; 
    margin: 0 auto; 
    gap: 2rem; 
    justify-content: center; 
    position: relative; 
    padding: 2rem 0; 
} 
.projects .pro::after { 
    content: none;  
} 
.projects .container { 
    width: 45%; 
    background-color: #051120; 
    border-radius: 6px; 
    padding: 1.5rem; 
    position: relative; 
    box-shadow: 0 0 10px cyan; 
    transition: 0.3s; 
} 
.projects .container:hover{ 
    transform: scale(1.03); 
} 
.projects .container::after, 
.projects .container::before { 
    content: none; 
} 
.projects .content .tag { 
    font-size: 1.3rem; 
    font-weight: bold; 
    margin-bottom: 0.5rem; 
} 
.projects .content .desc h3 { 
    font-size: 1.5rem; 
    font-weight: 600; 
} 
.projects .content .desc p { 
    font-size: 1.2rem; 
    margin-bottom: 10px; 
} 
.projects .content .desc a{ 
    display: inline-block; 
    margin-top: 0.5rem; 
    text-decoration: none; 
    color: #0077b6; 
    font-weight: bold; 
} 
 
.certifications{ 
    margin-top: 80px; 
} 
.certifications .certificates{ 
    display: flex; 
    flex-wrap: wrap; 
    max-width: 1200px; 
    margin: 0 auto; 
    gap: 2rem; 
    justify-content: center; 
    position: relative; 
    padding: 2rem 0; 
} 
.certifications { 
    padding: 2rem; 
    text-align: center; 
} 
.certificates { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 2rem; 
    justify-content: center; 
} 
.certificate-card { 
    background: #051120; 
    border: 1px solid #ddd; 
    border-radius: 10px; 
    padding: 1rem; 
    width: 250px; 
    box-shadow: 0 0 10px cyan; 
    transition: 0.3s; 
} 
.certificate-card:hover{ 
    transform: scale(1.03); 
} 
.certificate-card h3 { 
    margin: 0.5rem 0; 
    font-size: 1.1rem; 
} 
.certificate-card a { 
    display: inline-block; 
    margin-top: 0.5rem; 
    text-decoration: none; 
    color: #0077b6; 
    font-weight: bold; 
} 
 
 
.contact{ 
    display: grid; 
    grid-template-columns: repeat(2,1fr); 
    align-items: center; 
    gap: 3rem; 
    padding-left: 10px; 
    margin-top: 200px; 
} 
.contact-text{ 
    margin-left: 20px; 
} 
.contact-text h2{ 
    font-size: 70px; 
    line-height:1; 
    text-align: center; 
} 
.contact-text span{ 
    color: #0ef; 
} 
.contact-text h4{ 
    margin: 15px 0; 
    color: rgb(177,177,177); 
    font-size: 20px; 
    line-height: 30px; 
    margin-bottom: 2rem; 
} 
.contact-text p{ 
    font-size: 18px; 
    margin-bottom: 2rem; 
} 
.contact-list{ 
    margin-bottom: 2rem; 
} 
.contact-list li{ 
    margin-bottom: 10px; 
    display: block; 
} 
.contact-list i{ 
    display: inline-block; 
    color:#0ef; 
    font-size: 20px; 
    font-weight: 600; 
} 
.contact-list li a:hover{ 
    color:#0ef; 
} 
.contact-icons i{ 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    width: 40px; 
    height: 40px; 
    background: transparent; 
    border: 2px solid#0ef; 
    border-radius: 50%; 
    font-size: 20px; 
    color:#0ef; 
    text-decoration: none; 
    margin: 30px 15px 8px 0; 
} 
.contact-icons i:hover{ 
    background: #0ef; 
    color:#000; 
    box-shadow: 0 0 20px #0ef; 
} 
.contact-form form{ 
    position: relative; 
} 
.contact-form form input,form textarea{ 
    border: none; 
    outline: none; 
    width: 90%; 
    padding: 10px; 
    background: #555557; 
    color:#000; 
    font-size:1rem; 
    font-weight: 600; 
    margin-bottom: 8px; 
    border-radius: 8px; 
} 
.contact-form textarea{ 
    resize: none; 
    height: 220px; 
} 
.contact-form form .send{ 
    display: inline-block; 
    padding: 12px 28px; 
    background: #0ef; 
    border-radius: 40px; 
    font-size: 16px; 
    color:black; 
    letter-spacing: 1px; 
    text-decoration: none; 
    font-weight: 600; 
    margin-bottom: 8px; 
} 
.contact-form form .send:hover{ 
    box-shadow: 0 0 25px cyan; 
} 
.last-text{ 
    width: 100%; 
    text-align: center; 
    padding: 25px 0; 
    background: rgb(7,18,45); 
    font-weight: 300; 
    margin-top: 70px;    
} 
.arrow{ 
    position: fixed; 
    bottom: 33px; 
    right: 33px; 
} 
.arrow i{ 
    color: #000; 
    background: #0ef; 
    font-size: 20px; 
    padding: 10px; 
    border-radius: 10px; 
} 
 
@media (max-width: 768px) { 
    .about { 
        grid-template-columns: 1fr; 
        text-align: center; 
    } 
    .container1 { 
        width: 90%; 
        margin: 0 auto; 
        padding: 20px; 
    } 
    .img-cont { 
        display: none; 
    } 
    .header { 
        padding: 10px 5%; 
        flex-direction: column; 
        align-items: flex-start; 
    } 
    .navbar a { 
        font-size: 18px; 
        margin-left: 0; 
        margin-right: 15px; 
    } 
} 
 
@media (max-width: 480px) { 
    .heading1 { 
        font-size: 22px; 
        margin-bottom: 30px; 
    } 
    .Technical-bars .bar .info span { 
        font-size: 14px; 
    } 
    .progress-line span::after { 
        font-size: 10px; 
        top: -25px; 
    } 
    footer { 
        font-size: 12px; 
        padding: 10px; 
        text-align: center; 
    } 
    nav ul li { 
        margin: 5px 0; 
    } 
} 